:root {
  --black: #515251;
  --white: white;
}

html,
body {
  font-family: Helvetica, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v88/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

h1{
  font-family: Helvetica, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Ratings and Reviews */

#ratings-main {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 2px;
}

#ratings-left-pane {
}

 #ratings-right-pane {
}

#left-pane-title {
}

.rating-left {
  display: grid;
  grid-template-columns: 34% 34% 32%;
}

.number-rating {
}

.stars {
}

.recommend-percent {
}

.star-chart {
}

.review-size {
}

.review-comfort {
}

#ratings-title {
}

.review-header {
  display: grid;
  grid-template-columns: 34% 34% 32%;
}

.review-title {

}

.review-block {

}

.review-card {

}

.response-block {

}

.review-footer {

}

#ratings-right-pane-footer {

  display: grid;
  grid-template-columns: 34% 34% 32%;
}

.review-btn {

}

.review-add {

}

.title-bar {
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-size: 1.6rem;
  font-style: italic;
  text-decoration: underline;
  padding: 5px;
}

.logo {
  font-weight: 600;
}

.sitewide-announce {
  text-align: center;
  font-size: 0.8rem;
  margin: 2px;
}

.overview-column-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2%;
}

.image-gallery-container {
  position: relative;
  max-width: 60%;
  min-width: 60%;
  padding-top: 45%;
}

.image-gallery {
  background-color: lightgray;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.image-gallery-fullscreen-toggle {
  position: absolute;
  float: left;
  width: 2rem;
  margin: 0;
  top: 3%;
  right: 1.5%;
}

.image-gallery-back-arrow {
  position: absolute;
  top: 50%;
  left: 20%;
}

.image-gallery-forward-arrow {
  position: absolute;
  top: 50%;
  right: 5%;
}

.image-gallery-thumbnail-column {
  position: absolute;
  left: 3%;
  top: 10%;
}

.image-gallery-thumbnail-column-up-arrow {
  position: relative;
  left: 35%;
  top: 2%;
}

.image-gallery-thumbnail-column-down-arrow {
  position: relative;
  left: 35%;
  bottom: 2%;
}

.image-gallery-thumbnail {
  position: relative;
  background-color: #eaeaea;
  width: 75px;
  height: 75px;
  border: 1px solid black;
  margin: 1em 0;
  z-index: 3;
}

.three-px-hr {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #333;
  top: 80px;
  margin: 0;
  z-index: 2;
}

.struck-price {
  text-decoration: line-through;
}

.sale-price {
  color: red;
}

.stars-and-reviews {
  display: flex;
  flex-direction: row;
}

.product-information {
  min-width: 38%;
  max-width: 38%;
  display: flex;
  flex-direction: column;
}

.sales-pitch-paragraph {
  min-width: 62%;
  padding: 1%;
  margin: 1% 0;
}

.vertrule-container {
  min-width: 6%;
  display: flex;
  padding: 1%;
}

.vertical-rule {
  border-left: 3px solid #666;
  margin: 0 auto
}

.sales-pitch-checklist {
  min-width: 32%;
  text-align: left;
  margin: 1% 0;
}

.product-detail-category {
  font-size: 1.2rem;
  font-weight: 100;
  padding: 0.3rem 0;
}

.product-detail-expanded-product-name {
  font-size: 3rem;
  font-weight: 600;
}

.product-detail-price {
  padding: 1rem 0;
}

.read-all-reviews {
  font-weight: 100;
  font-size: 0.7rem;
  text-decoration: underline;
}

.style-label {
  font-weight: 600;
}

.add-to-bag-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-weight: 600;
}

.add-to-bag-box {
  border: 2px solid #666;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.size-select {
  min-width: 55%;
  max-width: 55%;
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  padding: .6em 2em .5em 1em;
  appearance: none;
}

.quantity-select {
  min-width: 40%;
  max-width: 40%;
  font-size: 1rem;
  color: #333;
  font-weight: 600;
  text-align-last: right;
  padding: 0.6em 1em 0.5em 2em;
  appearance: none;
}

.add-to-bag {
  min-width: 73%;
  max-width: 73%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
}

.add-to-cart-star {
  min-width: 12%;
  max-width: 12%;
  cursor: default;
}
/* QA Styling Starts */

#qa-div {
  border: 3px solid black;
  padding: 1%;
}

.qa-searchbar {
  width: 90%;
  padding: 12px 16px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.qa-search-btn {
  width: 9%;
  background-color: white;
  border: 1px solid black;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1px;
  cursor: pointer;
}

.qa-card-sample {
  border: 1px solid black;
  margin-bottom: 3px;
}

.qa-div, .qa-load-more {
  margin: 1%;
  background-color: white;
  border: none;
}

.qa-helpfulness-right {
  float: right;
  font-size: 12px;
}

.qa-footer {
  font-size: 10px;
  margin: 1%;
}

.qa-divider {
  margin: 1%;
}

.qa-answers-external {
  font-size: 14px;
}

.qa-more, .qa-add, .qa-add-form-submit {
  background-color: white;
  border: 1px solid black;
  padding: 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 1px;
  cursor: pointer;
}

.qa-add-form-submit {
  float: right;
}

.add-question-form label, .add-answer-form label {
  width: 10%;
  text-align: right;
  display: inline-block;
  padding-right: 1%;
}

.add-question-form input, .add-question-form textarea, .add-answer-form input, .add-answer-form textarea{
  width: 50%
}

.right-spacing {
  margin-right: 10px;
}

.qa-add-answer {
  float: right;
  background-color: white;
  border: none;
}

.qa-form-small {
  font-size: 9px;
}

/* QA Styling Ends */

/* || StarReview */

.star-review__star {
  display: inline-block;
}
.star-review__star > span {
  font-size: 1em;
  position: relative;
}
.star-review__star > span::after {
  content: '\e838';
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-review__star--full > span::after {
  width: 100%;
}
.star-review__star--threequarter > span::after {
  width: 58%;
}
.star-review__star--half > span::after {
  width: 50%;
}
.star-review__star--quarter > span::after {
  width: 42%;
}
.star-review__star--empty > span::after {
  width: 0;
}

/* || Carousel and Cards */

.related-items-and-outfit > * {
  margin: 4rem 0;
}
.carousel {
  display: grid;
  gap: 32px;
  grid-auto-flow: column;
  position: relative;
  transition: left .5s;
}
.carousel__wrapper {
  overflow: hidden;
  position: relative;
}
.carousel__edge {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all .5s;
  width: min(200px, 15%);
  z-index: 1;
}
.carousel__edge > .material-icons {
  cursor: pointer;
  overflow: hidden;
  width: 1ch;
}
.carousel__edge--left {
  background-image: linear-gradient(to right, white, transparent);
  justify-content: flex-start;
  left: 0;
}
.carousel__edge--right {
  background-image: linear-gradient(to left, white, transparent);
  justify-content: flex-end;
  right: 0;
}
.carousel__title {
  font-weight: normal;
  text-transform: uppercase;
}
.card {
  color: var(--black);
  display: grid;
  max-width: 100%;
  width: 240px;
}
.card.product {
  border: 1px solid var(--black);
}
.product__picture {
  height: 280px;
  max-width: 240px;
  overflow: hidden;
  position: relative;
}
.product__picture img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  width: 100%;
  z-index: -1;
}
/* Make star visible on both light and dark backgrounds */
/* I honestly hate this solution but will table it for later */
.product__picture > .material-icons {
  color: black;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}
.product__picture > .material-icons::before {
  border-radius: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.product__picture > .material-icons.star::before {
  color: gold;
  content: '\e838';
  transform: scale(.9);
}
.product__picture > .material-icons.remove::before {
  color: white;
  content: '\ef4a';
}
.product__details {
  padding: 1rem .5rem .5rem;
}
.product__details > * {
  margin: 0;
}
.product__details > * + * {
  margin-top: .5rem;
}
.product__category {
  font-size: .8rem;
  text-transform: uppercase;
}
.product__name {
  font-weight: bold;
  letter-spacing: 0.4px;
}
.product__price {
  font-size: .8rem;
}

/* Modal */

.modal {
  position: fixed;
  visibility: hidden;
  background-color: white;
  top: 10%;
  left: 10%;
  height: 80%;
  width: 80%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  z-index: 2;
}